# Java and Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# IntelliJ IDEA
.idea/
*.iml
out/
gen/

# VS Code
.vscode/
bin/

# OS Files
.DS_Store
Thumbs.db

# Spring Boot
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
HELP.md

# Application properties (Sensitive)
# application-prod.properties

# Visualization
Backend/graph.json
Backend/visualizer.html
graph.json
visualizer.html

Frontend/build/
Frontend/dist/
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local
